body {
  background-color: var(--dark-color);
  color: var(--text);
}


/* sr-only copied from Bootstrap, hides elements that should be visible to screen readers only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}